@font-face {
    font-family: 'FF Meta Serif';
    src: url('MetaSerifPro-Black.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f8f8f8;
}

.menu, .search {
    font-size: 24px;
}

.title {
    font-size: 18px;
    font-weight: bold;
}

.image-slider {
    position: relative;
    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.left-arrow {
    left: 10px;
}

.right-arrow {
    right: 10px;
}

nav {
    text-align: center;
    padding: 10px 0;
    background-color: #e0e0e0;
}

.nav-link {
    color: blue;
    text-decoration: none;
}

.nav-counter {
    font-size: 14px;
}

main {
    padding: 10px;
}

h1 {
    font-size: 36px; /* Большой размер шрифта */
    font-weight: bold; /* Жирный шрифт */
    text-align: center; /* Выравнивание по центру */
    color: #000000; /* Цвет текста, например, черный */
    /* Дополнительные стили, если нужно */
}

main img {
    width: 70%;
    height: auto;
    border: 1px solid #ccc; /* Рамка вокруг изображения */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h2 {
    font-size: 14px;
    margin: 10px 0 5px;
}

section p {
    font-size: 18px;
    width: 100%;
    font-family: 'FF Meta Serif', serif;
    margin-bottom: 1em; /* добавляет отступ снизу каждого параграфа */
    text-align: justify;
     font-weight: normal;
}

footer p {
    text-align: center;
    padding: 10px 0;
    background-color: #e0e0e0;
}
